<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc8W2Dt21HOSmVgD_aaM-W9R9l1fKqQOo</string>
	<key>GCM_SENDER_ID</key>
	<string>691737552013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatCanIMake</string>
	<key>PROJECT_ID</key>
	<string>kitchen-inventory-c7753</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchen-inventory-c7753.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691737552013:ios:90c36bb5dcfb1e3d38eec4</string>
</dict>
</plist>